#n1 {
    width:200px;
    height:200px;
    border:1px solid #000;
    float:left;
    margin-right:10px;
    font-size:100px;
    text-align:center;
    line-height:200px;
    background-color:#EEE;
    color:#EEE;
}
#n2 {
    width:200px;
    height:200px;
    border:1px solid #000;
    float:left;
    margin-right:10px;
    font-size:100px;
    text-align:center;
    line-height:200px;
}
button {
    width:410px;
    height:40px;
    margin-top:10px;
    font-size:20px;
    cursor:pointer;
}
.texto {
    width:400px;
    margin-top:30px;
    font-family:Arial;
    font-weight:bold;
    font-size:13.5px;
}